<div class="mx-auto w-11/12 text-center max-w-lg">
  <div class="my-20">
    <h1 class="text-lg font-bold my-4 border-dotted border-b-4 border-green-200">課金やガチャの記録を一括で管理しよう！</h1>
    <p class="text-left sm:text-center leading-8 w-11/12 mx-auto">
      KAKINkanriは、課金記録やガチャの結果を登録したり、どれだけの期間ガチャ禁すれば目標のガチャ石が貯まるのかを確認したりすることができるWebアプリです
    </p>
  </div>
  <div class="my-20">
    <h1 class="text-lg font-bold my-4 border-dotted border-b-4 border-green-200">使い方はとても簡単！</h1>
    <p class="text-left sm:text-center leading-8 w-11/12 mx-auto">
      まずは、今月の予算を登録しましょう。その後、課金を登録することによって、今月の残り予算が表示されるようになります。課金のしすぎにはご注意を！
    </p>
    <p class="text-left sm:text-center leading-8 w-11/12 mx-auto">
      公式LINEアカウントで「課金可能額」と送信すると今月の使用可能額が返信されます。ぜひ活用してみてください。
    </p>
  </div>
  <div class="my-20">
    <% if user_signed_in? %>
        <h1 class="text-lg font-bold my-4 border-dotted border-b-4 border-green-200">予算登録はこちらから！</h1>
        <%= link_to '予算登録', new_budget_path, class: "btn btn-primary shadow-xl mt-10" %>
    <% else %>
        <h1 class="text-lg font-bold my-4 border-dotted border-b-4 border-green-200">登録はこちらから！</h1>
            <%= button_to omniauth_authorize_path(:user, :line), data: { turbo: false } do %>
                <%= image_tag("btn_login_base.png") %>
            <% end %>
    <% end %>
  </div> 

</div>