<div class="container flex justify-center items-center min-h-screen">
  <div class="card">
    <div class="card-header mx-auto w-5/6 max-w-lg text-center my-10">
      <h1 class="mb-4 text-2xl font-bold">予算登録</h1>
    </div>
    <div class="card-body">
      <%= render 'form', budget: @budget %>
    </div>
  </div>
</div>