<footer class="bg-customBlue1 flex flex-col items-center py-5 h-32 text-neutral-content">
    <nav class="flex items-center">
        <%= link_to "利用規約", root_path, class: "link link-hover" %>
        <%= link_to "プライバシーポリシー", root_path, class: "link link-hover" %>
        <%= link_to "お問い合わせ", root_path, class: "link link-hover" %>
    </nav>
</footer>